/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */

@import url('./base.css');
@import url('./animations.css');
@import url('./reset.css');


.gallery {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
 
}
.gallery-item{
  max-width: 450px;
  height: 300px;
  border: 1px solid #bfb2b2;
  box-shadow: #ccc;
  border-radius: 4px;
}


.gallery-img{
  display: block;
  width: 500px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.descr-container{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.descr-container {
  display: flex;
  justify-content: space-between;
}

.button{
  margin: 0 auto;
  display: block;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover, 
.button:focus{
  background-color: #3b11e1;
}






.hidden {
  display: none;
}